body {
    background: #21252b;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nicknameModal {
    height: 3em;
    background: #282c34;
}

.center {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

#chatbox {
    align-self: left;
    align-content: flex-start;
}

#messages {
    list-style: none;
}