body {
    background: #21252b;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nicknameModal {
    height: 10em;
    background: #1d1f23;
    margin-bottom: 5em;
}

#nicknameInput {
    width: 50%
}

.center {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

#chatbox {
    align-self: left;
    align-content: flex-start;
    margin-right: 2em;
}

#messagesContainer {
    padding-right: 2em;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 20vw;
}

input[type="text"] {
    padding: 0.5em;
    width: 100%;
    color: white;
    background: #282c34;
    border: none;
}